@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy: #002147;
  --gold: #fc0;
  --aqua: #00ffff;
}

body {
  background: #010409;
  color: white;
}

@layer base {
  html {
    font-family: var(--font-inter), sans-serif;
  }
}

.font-auth {
  font-family: var(--font-montserrat), sans-serif;
}
