@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-gold: #FFD700;
  --secondary-cyan: #00D2FF;
  --navy-black: #010409;
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url('/fonts/NeoSansPro-Light.woff') format('woff');
  font-weight: 300;
}

body {
  background: var(--navy-black);
  color: white;
  font-family: 'Neo Sans Pro', sans-serif;
}